$primaryColor: white;
$blockColor: #00D7BB;

body{
    //margin: 2.5%;
    background-color:#1a1a1a;
}

p{
    color: $primaryColor;
}

h2{
    color: $primaryColor;
}

.carousel-caption{
    button{
        float: left;
    }
}

.navbar, .carousel{
    margin-bottom: 2%;
}

.card{
    border-radius: 0;
    background-color: #2C2C2C;
    margin-bottom: 5%;
}

.aboutMe{
    padding: 2rem;
}

.personalDetail{
    padding-right: 3rem;
    padding-left: 3rem;
    border-bottom: solid 1px $primaryColor ;
    h6{
        color: $primaryColor;
    }

}

.img{
    margin: 2rem;
    margin-top: 2rem;
}

.bgDark{
    background-color: #222222;
}

.cyanIcon{
    color: $blockColor;
}

.cyanBackground{
    background-color: $blockColor;
    color: $primaryColor;
}

.cyanBlock{
    background-color: $blockColor;
    color: $primaryColor;
    border: none;
    width: 15rem;
    height: 4rem;
}

#firefoxIcon{
    color: #EF5350;
}

#desktopIcon{
    color: #FBC02D;
}

#phoneIcon{
    color: #AB47BC;
}


.bgMargin{
    padding: 3rem;
    @media (max-width: 960px){
        margin: 1rem;
    }
}

.buttonHireMe{
    border: none;
    width: 12rem;
    height: 4rem;
    //float: right;
}


.marginBottom{
    margin-bottom: 6rem;
}
