body{
    margin: 2%;
}

.carousel-caption{
    button{
        float: left;
    }
    
}

.navbar, .carousel{
    margin-bottom: 2%;
}

.personalDetail{
    //margin-left: 1rem;
    p{
        margin-right: 2rem;
    }    
}
